*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* padding: 0 10px; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #AA57CC;
}
.wrapper{
    width:50vw;
    background-color: #fff;
    height: 35vh;
    padding: 20px 25px 15px;
    /* box-shadow: 5px 5px 5px 5px rgb(93, 97, 137); */
    box-shadow: 24px 25px 15px #bbbb;
    border-radius: 4%;


}
.head{
    height: 10vh;
    padding: 20px;
    width:40vw;
}
.header{
    font-size: revert;
    font-weight: bolder;

}
.para{
    padding: 10px;
    font-size: xx-large;
}
.input{
    height: 5vh;
    width: 20vh;
    padding: 30px;
}
.place{
    height: 5vh;
    width: 45vw;
    font-size: xx-large;
}
.button{
    height: 5vh;
    width: 45vw;
    margin-top: 60px;
    margin-left: 30px;
    font-size: xx-large;
    border: none;
    outline: none;
    background: lightslategray;
}
.inputs button.active{
    opacity: 1;
    pointer-events: auto;
  }
.purple{
    color: #AA57CC;
}
.info{
    font-size: xxx-large;
    margin-left: 30px;
}